
#section1 {
	padding-top:50px;height:500px;color: #fff; 
	text-align: center;
  background-color: #1E88E5;

}
#section1:hover {
	
}
  #section2 {
  	padding-top:50px;height:500px;color: #fff; 
  	text-align: center;
    background-color: #673ab7;

  }
  #section2:hover{
  	
  }
  #section3 {
 	
  	padding-top:50px;height:500px;color: #fff; 
  	text-align: center;
    background-color: #ff9800;
  }
  #section3:hover{
  	
  }
  #section41 {
  	padding-top:50px;height:500px;color: #fff; 
  	text-align: center;
    background-color: #51bcd6;
  }
	#section41:hover{
  
}
  #section42 {
  	padding-top:50px;height:500px;color: #fff; 
  	text-align: center;
    background-color: #009688;
  }
  #section42:hover{
  	
  }
  #section43 {
  	padding-top:50px;height:500px;color: #fff; 
  	text-align: center;
    background-color: #705277;
  }
  #section43:hover{
  	
  }
#section1, #section2, #section3, #section41, #section42, #section43{
	font-size: 20px;
}
h1{

	font-size: 45px;
	color: greenyellow;
  text-align: center;
}

#link{
  align-items: center;
  margin-left: 35%;
  border: 3px solid red;
  width: 30%;
  text-align: center;
  line-height: 3.6em;
  font-size: 36px;
  background: #222;
}
#course{
   align-items: center;
  
  border: 3px solid red;
  width: 100%;
  text-align: center;
  line-height: 1.1em;
  font-size: 36px;
  background: #555;
  color: white;
}
footer{
  font-size: 25px;
  background: #444;
  text-align: center;
  margin-top: 8px;
  color: white;
}
.about{
  text-align: center;
  line-height: 4em;
  font-size: 20px;
  color: white;
}
.about a{
  color: red;
}
/*.hid{
	display: none;
}
.contact:hover + .hid{
	display: block;
}*/